<!--====== FOOTER PART START ======-->

<footer id="footer" class="footer-area">
    <div class="footer-widget pt-80 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-8">
                    <div class="footer-logo mt-50">
                        <a href="#">
                            <img src="assets/images/logo.png" alt="Logo">
                        </a>
                        <ul class="footer-info">
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-phone-handset"></i>
                                    </div>
                                    <div class="info-content">
                                        <p>+1880 123 456 789</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-envelope"></i>
                                    </div>
                                    <div class="info-content">
                                        <p>contact@yourmail.com</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="lni-map"></i>
                                    </div>
                                    <div class="info-content">
                                        <p>1234 Avenue New York, US</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                        </ul>
                        <ul class="footer-social mt-20">
                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                            <li><a href="#"><i class="lni-google"></i></a></li>
                            <li><a href="#"><i class="lni-instagram"></i></a></li>
                        </ul>
                    </div> <!-- footer logo -->
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-link mt-45">
                        <div class="f-title">
                            <h4 class="title">Essential Links</h4>
                        </div>
                        <ul class="mt-15">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-link mt-45">
                        <div class="f-title">
                            <h4 class="title">Services</h4>
                        </div>
                        <ul class="mt-15">
                            <li><a href="#">Product Design</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Office Management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-8">
                    <div class="footer-newsleter mt-45">
                        <div class="f-title">
                            <h4 class="title">Newsleter</h4>
                        </div>
                        <p class="mt-15">Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
                        <form action="#">
                            <div class="newsleter mt-20">
                                <input type="email" placeholder="info@contact.com">
                                <button><i class="lni-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        <p>Template Designed and Developed by <a href="https://uideck.com" rel="nofollow">UIdeck</a></p>
                    </div> <!-- copyright -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- copyright-area -->
</footer>

<!--====== FOOTER PART ENDS ======-->