<!--====== HEADER PART START ======-->

<header id="home" class="header-area pt-100">

    <div class="shape header-shape-one">
        <img src="assets/images/banner/shape/shape-1.png" alt="shape">
    </div> <!-- header shape one -->

    <div class="shape header-shape-tow animation-one">
        <img src="assets/images/banner/shape/shape-2.png" alt="shape">
    </div> <!-- header shape tow -->

    <div class="shape header-shape-three animation-one">
        <img src="assets/images/banner/shape/shape-3.png" alt="shape">
    </div> <!-- header shape three -->

    <div class="shape header-shape-fore">
        <img src="assets/images/banner/shape/shape-4.png" alt="shape">
    </div> <!-- header shape three -->

    <div class="navigation-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img src="assets/images/logo.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="page-scroll" href="#home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#service">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#project">Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#team">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#contact">Contact</a>
                                </li>
                            </ul> <!-- navbar nav -->
                        </div>
                        <div class="navbar-btn ml-20 d-none d-sm-block">
                            <a class="main-btn" href="#"><i class="lni-phone"></i> +98 222 4444</a>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- navigation bar -->

    <div class="header-banner d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9 col-sm-10">
                    <div class="banner-content">
                        <h4 class="sub-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">Hey Dude!</h4>
                        <h1 class="banner-title mt-10 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2s"><span>You're</span> Using Free Lite Version of This Template</h1>
                        <p>Please, consider purchasing full version to get all pages, features, assets and permission to remove footer credits.</p>
                        <a class="banner-contact mt-25 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2.3s" rel="nofollow" href="https://rebrand.ly/interior-ud">Get Full Version</a>
                    </div> <!-- banner content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="banner-image bg_cover" style="background-image: url(assets/images/banner/banner-image.png)"></div>
    </div> <!-- header banner -->

</header>

<!--====== HEADER PART ENDS ======-->